.App {
  text-align: center;
  
}
 img{
  
   text-align: center;
  
 }
.container{
border-style: solid;

margin: auto 0px;
top:50%;
left: 50%;
transform: translate(-50%, -50%);
position: absolute;
}

.inner-container{

position: relative; 
display: inline-block; 
margin: 0.5em 40px; 
padding: 0.1em; 

}

.inner-container:first-child{
  background-color: rgb(230, 229, 229);
  margin: 2px;
  height: 100%;
}
.flexbox{
  display: flex;
  text-align: center;
  color: #000000;
}
.inline{ 
  display: flex;
  text-align: justify;
  display: inline; 
  align-items: baseline;
  justify-content: space-between;
  margin: auto;
}
.bold{

  font-weight: bolder
}
.right{

}